name: daily update

on:
  schedule:
    - cron: '0 6 * * *' # Once everyday at 06:00 UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.12' # install the python version needed
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute apod script 
        env:
          SOME_SECRET: ${{ secrets.SOME_SECRET }}
        run: python apod.py

      - name: execute xray script
        run: python x_ray.py
        
      - name: execute proton script
        run: python proton.py
        
      - name: execute geo script
        run: python geo.py

      - name: execute forecast script
        run: python get_forecast.py

      - name: update README
        run: python update_readme.py
        
      - name: commit and force push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -a -m "new day update" --allow-empty
          git push -f origin main
